p {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 0.8em;
margin-top: 0;
margin-bottom:0;
}

ul {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 0.8em;
list-style-type: none;
margin-top: 0.5em;
margin-bottom:0.5em;
}

.list-header {
    margin-top:0.5em;
}

.menu-group {
margin-bottom:0.5em;
}

.menu {
color: #000000;
margin-bottom: 0;
margin-top: 0;
}

.menu a:link {
color: #336600;
text-decoration: none;
}

.menu a:visited {
color: #666666;
text-decoration: none;
}

.menu a:hover {
color: #990000;
text-decoration: none;
}

.menu a:active {
color: #666666;
text-decoration: none;
}

.menu a.selected {
color: #666666;
font-weight: 600;
}

.prio-medium {
color: green;
}
.prio-high {
//color: green;
font-weight: bold;
}

