{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<p>
Please enter your username and password below.<br>
If you don't have an account yet, you can <a href="{% url add-user %}">create one</a>...
</p>

<form method="post" action="/yata/accounts/login/">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
