<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.9.custom.css" rel="Stylesheet" />	
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.9.custom.min.js"></script>

        <script type="text/javascript">
            $(function(){
                // Datepicker
                param = {
                    inline: true,
                    dateFormat: 'yy-mm-dd',
                    autoSize: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    firstDay: 1
                }
                $('#id_due_date').datepicker(param);
                $('#id_start_date').datepicker(param);
            });
        </script>
    </head>
    
<body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <form action="/yata/{{ id }}/edit/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save changes!" />
    </form>

</body>

</html>