<!DOCTYPE html>
<html>
    <head>
        <title>Yata - Edit</title>
        <link type="text/css" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.9.custom.css" rel="Stylesheet" />	
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.9.custom.min.js"></script>

        <script type="text/javascript">
            $(function(){
                // Datepicker
                param = {
                    inline: true,
                    dateFormat: 'yy-mm-dd',
                    autoSize: true,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    firstDay: 1
                }
                $('#id_due_date').datepicker(param);
                $('#id_start_date').datepicker(param);
            });
        </script>
       <script type="text/javascript">
            function confirmation() {
                return confirm("Do you really want to delete this task?")
            }
        </script>        
       <script type="text/javascript">
            function set_focus_on(chp)
            {
                document.getElementById(chp).focus();
            }
        </script>        
    </head>
    
<body onload="set_focus_on('focused')">
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    
    <form  action="{{ action }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
    </form>
    
    <form  action="{{ delete }}" method="post" 
            OnSubmit="return confirmation();">
    {% csrf_token %}
    <input type="submit" value="Delete!">
    </form>
    

</body>

</html>